
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-emo-saint:before { content: '\e80e'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */